@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: fallback;
}

:root {
  --color-yellow: #f4d04e;
  --color-gray-950: #111111;
  --color-gray-500: #6b6b6b;
  --color-white: #ffffff;
  /*assume 1rem = 16px*/
  --space-300: 1.5rem;
  --space-150: 0.75rem;
  --space-100: 0.5rem;
  --space-50: 0.25rem;
  --font-figtree: 'Figtree', sans-serif;
  /*Ugly numbers because I need an exact match to the Figma file.*/
  --fs-1: clamp(1.25rem, 0.3756vw + 1.162rem, 1.5rem);
  --fs-2: clamp(0.875rem, 0.1878vw + 0.831rem, 1rem);
  --fs-3: clamp(0.75rem, 0.1878vw + 0.706rem, 0.875rem);
  --lh-1: 1.5;
  --lh-2: 1.5;
  --lh-3: 1.5;
  --fw-extra-bold: 800;
  --fw-medium: 500;
}

.font-preset-1 {
  font-size: var(--fs-1);
  line-height: var(--lh-1);
  font-weight: var(--fw-extra-bold);
}

.font-preset-2 {
  font-size: var(--fs-2);
  line-height: var(--lh-2);
  font-weight: var(--fw-medium);
}

.font-preset-3 {
  font-size: var(--fs-3);
  line-height: var(--lh-3);
  font-weight: var(--fw-medium);
}

.font-preset-3.is-bold {
  font-weight: var(--fw-extra-bold);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-yellow);
}

body,
p,
h3 {
  margin: 0;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: var(--font-figtree);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--space-300);
  gap: var(--space-300);
  /*Ugly numbers because I need an exact match to the Figma file.*/
  width: clamp(20.4375rem, 5.3521vw + 19.183rem, 24rem);
  background: var(--color-white);
  border: 1px solid var(--color-gray-950);
  box-shadow: 8px 8px 0px black;
  border-radius: 20px;
}

.card__img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-150);
}

.card__category {
  padding: var(--space-50) var(--space-150);
  border-radius: 4px;
  background: var(--color-yellow);
}

.card__title:hover {
  color: var(--color-yellow);
  cursor: pointer;
}

.card__description {
  color: var(--color-gray-500);
}

.author {
  display: flex;
  align-items: center;
  gap: var(--space-150);
}

.author__image {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.author__name {
  /*I see no scaling in the figma File*/
  font-size: 0.875rem;
}

.attribution {
  position: absolute;
  left: 0;
  bottom: calc(-1.5 * var(--space-300));
  width: 100%;
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
